body {
    background-image: url("./images/bi.jpeg");
    color: white;
    background-size: 1920px 1200px;
    background-repeat: no-repeat;
    font-family: "Tahoma", "Serif";
    background-color: #85bb65;
}

h1 {
    text-align: center;
}

.center {
   width: 100%; 
   margin-top: 15%;
   margin-left: auto; 
   margin-right: auto;
}

.header {
    width: 80%;
    background-color: black;
    border: 3px solid #85bb65;
    margin-top: 0;
    margin: auto;
}
.bottom {
    background-color: #85bb65;
}

input.inputcase1[type="radio"]:before {
    content: url("./images/case1.png");
    width: 10px;
    display: block;
}

input.inputcase2[type="radio"]:before {
    content: url("./images/case2.png");
    width: 10px;
    display: block;
}

input.inputcase3[type="radio"]:before {
    content: url("./images/case3.png");
    width: 10px;
    display: block;
}
input.inputcase4[type="radio"]:before {
    content: url("./images/case4.png");
    width: 10px;
    display: block;
}
input.inputcase5[type="radio"]:before {
    content: url("./images/case5.png");
    width: 10px;
    display: block;
}
input.inputcase6[type="radio"]:before {
    content: url("./images/case6.png");
    width: 10px;
    display: block;
}
input.inputcase7[type="radio"]:before {
    content: url("./images/case7.png");
    width: 10px;
    display: block;
}
input.inputcase8[type="radio"]:before {
    content: url("./images/case8.png");
    width: 10px;
    display: block;
}
input.inputcase9[type="radio"]:before {
    content: url("./images/case9.png");
    width: 10px;
    display: block;
}
input.inputcase10[type="radio"]:before {
    content: url("./images/case10.png");
    width: 10px;
    display: block;
}
input.inputcase11[type="radio"]:before {
    content: url("./images/case11.png");
    width: 10px;
    display: block;
}
input.inputcase12[type="radio"]:before {
    content: url("./images/case12.png");
    width: 10px;
    display: block;
}
input.inputcase13[type="radio"]:before {
    content: url("./images/case13.png");
    width: 10px;
    display: block;
}
input.inputcase14[type="radio"]:before {
    content: url("./images/case14.png");
    width: 10px;
    display: block;
}
input.inputcase15[type="radio"]:before {
    content: url("./images/case15.png");
    width: 10px;
    display: block;
}
input.inputcase16[type="radio"]:before {
    content: url("./images/case16.png");
    width: 10px;
    display: block;
}


#case1{
	background-image: url("./images/case1,png");
}

.space{
	margin-bottom: 200px;
}

.button {
    background-color: #333;
    border: none;
    color: #85bb65;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.button:hover {
    background-color: #85bb65;
    border: 1px solid #333;
    color: white;
}
